#header{
	background: #ddd;
	padding: 0 50px;
}
#header p, #header a{
	display: inline-block;
	margin: 5px 0 5px 15px;
}

#header_list {
	margin: 20px 0;
}
.btn-novo{
	width: 100%;
}
.edit,.ver{
	color: #54ACD2;
	margin-left: 10px;
}

.remove{
	color: #B8312F;
	margin-left: 15px !important;
}
.vacinas-list{
	list-style: none;
}

.panel-body a i{
	margin-right: 10px;
}