
.btn-novo{
	width: 100%;
}
.edit,.ver{
	color: #54ACD2;
	margin-left: 10px;
}

.remove{
	color: #B8312F;
	margin-left: 15px;
}
.vacinas-list{
	list-style: none;
}

.btn-sm{
	font-size: 14px;
}
.btn-sm i{
	margin-right: 10px;
}
.detalhe{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    border-top: 1px solid;
}

.page-title{
	margin-bottom: 20px;
}