a:hover{	
	opacity: 0.7;
	text-decoration: none;
}

html, body{
	background-color: #54ACD2;
}

body{
	font-family: 'Ubuntu';
}

.container{	
    margin-top: 40px;
    background-color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.logo{
	margin: auto;
}

#header{
    background: #ddd;
    padding: 10px 50px;
}
#header p, #header a{
    display: inline-block;
    margin: 5px 0 5px 15px;
    font-size: 16px;
}

#header_list {
    margin: 20px 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}