.form-signin{
	max-width: 300px;
	margin: auto;
}
.form-signin input:not([type=checkbox]), .form-signin a{
	margin: 15px 0 0 0;
	width: 100%;
}
.btn-fb{
	color: white;
	background-color: #3B5998;
}
.btn-fb:hover{
	color: white;
}
.btn-fb i{
	margin-right: 15px;
}
.form-signin-heading{
	font-size: 25px;
}